.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/5dd45df7-33f1-4274-97ea-e9c6aca69dad/ed1cb962-411d-4e43-bad2-33f07ae8e341/IN-en-20211108-popsignuptwoweeks-perspective_alpha_website_small.jpg");
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.loginScreen__button {
  position: fixed;
  padding: 10px 20px;
  right: 20px;
  top: 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.loginScreen__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.loginScreen__body {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 25%;
  margin:0 auto;
  min-width: 100%;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}
.loginScreen__body > h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.loginScreen__body > h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 60%;
  border: none;
  max-width: 600px;
}
.loginScreen__getStarted {
  outline-width: 0;
  padding: 16px 20px;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  font-weight: 800;
  color: #fff;
}
